#footer {
  background-color: #0000FF;
  color: white;
  padding-top: 14rem;
}

#footer .fa {
  color: #fff;
  margin: 0 2rem;
}

.icon-attribution {
  padding-top: 2rem;
  font-size: 0.7em !important;
}