.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  height: 100vh;
}

.hero img {
  border-radius: 50%;
  margin-top: 4rem;
}

.hero h4 {
  font-weight: 100;
}

.typewriter h1 {
  font-family: 'Montserrat', 'Roboto', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  font-size: 5vmin;
}

.typewriter h1:nth-child(1) {
  width: 7.8em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.typewriter h1:nth-child(2) {
  width: 13.8em;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
  animation-duration: 5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
  }

  75% {
    opacity: 0;
  }

	100% {
		opacity: 1;
	}
}

.fade-in img {
  max-width: 250px;
  width: 100%;
}