.navbar {
  background-color: #fff;
}

.form-inline {
  justify-content: center;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  color: #0047ba !important;
  font-weight: bold;
}

.navbar-collapse {
  font-size: 1.25rem;
}

#contact {
  border-radius: 3rem;
  color: #0047ba;
  border-color: #0047ba;
  font-size: 1.2rem;
}

#contact:hover {
  background-color: #0047ba;
  color: #fff;
}


@media (max-width: 768px) {
  .btn {
    width: 50%;
  }
}