.navbar-container {
  width: 100%;
  background-color: #efefef;
  padding-top: 0;
}

.navbar {
  margin: 0 auto 0 auto !important;
  max-width: 1400px;
}

.form-inline {
  justify-content: center;
}

.navbar-nav {
  align-items: center;
}

.navbar-brand {
  color: #0000FF !important;
  font-weight: bold;
}

.navbar-collapse {
  font-size: 1.25rem;
}

#contact-bt {
  border-radius: 3rem;
  color: #0000FF;
  border-color: #0000FF;
  font-size: 1.2rem;
}

#contact-bt:hover {
  background-color: #0000FF;
  color: #fff;
}

.navbar-brand {
  font-size: 1.5rem;
}


@media (max-width: 768px) {
  .btn {
    width: 50%;
  }
}