.skills {
  margin-top: -14rem;
  padding-bottom: 1rem;
}

.skills-card {
  background-color: white;
  background-clip: border-box;
  border-radius: 12px;
  border: 1px solid;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.skills-card div {
  padding: 1.25rem;
  min-height: 1px;
}

.bd-r {
  border-right: 1px solid #E6ECf8;
}

h1 {
  padding-bottom: 1rem;
  font-weight: bold;
}

h4 {
  font-weight: 700;
}

ul {
  list-style-type: none;
  padding: 0;
}